* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	background-color: #2b0d26;
    font-family: Karla,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
}

/* Typographie */

h1 {
    color: #d7a423;
    line-height: 1em;
    font-weight: 700;
    font-size: 90px;
    margin: 120px 0 20px;
}
h2 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 60px;
}
h3 {
    font-size: 22px;
    color: #d7a423;
    font-weight: 700;
}
blockquote {
    border-left: 3px solid #d7a423;
    border-left: 0  none;
    padding-left: 20px;
    margin-bottom: 40px;
    position: relative;
}
blockquote::after{
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 4px;
  height: 118px;
  background-color: #d7a423;
  border-radius: 10px;
}
a {
	color: #fff;
	text-decoration: none;
    border-bottom: 1px solid #fff;
}
a:hover {
	color: #d7a423;
  border-bottom: 1px solid #d7a423;
}
::selection { 
	background: #d7a423; 
}

/* Home */


ul.bullet-proof {
	list-style-type: none;
}
.note {
	font-style: italic;
	margin: 40px 0 20px;
}
.note input {
	background: none transparent;
	border: 0;
  font-family: Karla,sans-serif;
  font-size: 22px;
  color: #fff;
  width: 250px;
  outline: 0;
}
button {
  background-color: #d7a423;
  color: #2b0d26;
  border: 0 none;
  font-family: Karla,sans-serif;
  font-family: monospace;
  font-size: 14px;
  font-weight: 700;
  padding:8px 14px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  transition: background 0.3s;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip button {
  margin-right: 10px;
}

.tooltip .tooltiptext {
  font-family: Karla,sans-serif;
  font-size: 14px;
  visibility: hidden;
  width: 200px;
  background-color: #d7a423;
  color: #2b0d26;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid #d7a423;
  border-color: #d7a423 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}