* {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	background-color: #2b0d26;
    font-family: Karla,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff;
}

/* Misc 
-------------------- */

.spacer {
  height: 40px;
}

/* selection */

::selection { 
  background: #d7a423; 
}
h1::selection {
  background: #000; 
}

/* button */

button {
  background-color: #d7a423;
  color: #2b0d26;
  border: 0 none;
  font-family: Karla,sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding:8px 14px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  transition: background 0.3s;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip button {
  margin-right: 10px;
}
.tooltip .tooltiptext {
  font-family: Karla,sans-serif;
  font-size: 14px;
  visibility: hidden;
  width: 200px;
  background-color: #d7a423;
  color: #2b0d26;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
}
.tooltip .tooltiptext.copied {
  background-color: green;
  color:#fff;
  transition: background 0.3s;
}
.tooltip .tooltiptext.copied::after{
  border-color: green transparent transparent transparent;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid #d7a423;
  border-color: #d7a423 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}


/* Home 
-----------------------------*/


ul.bullet-proof {
	list-style-type: none;
}
.note {
	font-style: italic;
	margin: 40px 0 20px;
}
p input {
	background: none transparent;
	border: 0;
  font-family: Karla,sans-serif;
  font-size: 22px;
  color: #fff;
  width: 250px;
  outline: 0;
}

/* Projects previews */

.project-preview {
  background-color: #fff;
  border-radius: 16px;
  height: 350px;
  margin: 20px 0 80px;
  position: relative;
}

.project-preview h4 {
  background-color: #8F3181;
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  padding: 6px 16px;
  position: absolute;
  top:40px;
  left: -16px;
  transition: all 0.15s;
}
.project-preview a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project-preview a,
.project-preview a:hover {
   border: 0;
}
.project-preview:hover h4 {
  left:-12px;
  background-color: #701762;
  box-shadow: 0 0 3px #701762;
}