* {
	margin: 0;
	padding: 0;
}
body {
  background-color: #2b0d26;
}

/* Misc 
-------------------- */

.spacer {
  height: 40px;
}

/* selection */

::selection { 
  background: #d7a423; 
}
h1::selection {
  background: #000; 
}

/* button */

button {
  background-color: #d7a423;
  color: #2b0d26;
  border: 0 none;
  font-family: Karla,sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding:8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  transition: background 0.3s;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip button {
  margin-right: 10px;
}
.tooltip .tooltiptext {
  font-family: Karla,sans-serif;
  font-size: 14px;
  visibility: hidden;
  width: 200px;
  background-color: #d7a423;
  color: #2b0d26;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
}
.tooltip .tooltiptext.copied {
  background-color: green;
  color:#fff;
  transition: background 0.3s;
}
.tooltip .tooltiptext.copied::after{
  border-color: green transparent transparent transparent;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid #d7a423;
  border-color: #d7a423 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}


/* Home 
-----------------------------*/

h2 {
  display: inline-block;
  margin-right: 10px;
}
.socials {
  display: inline-block;
  list-style: none;
  margin-bottom: 40px;
}
.socials li {
  display: inline-block;
}
.socials a, .socials a:hover {
  border: 0;
}
.socials svg {
  height: 25px;
  fill: rgba(255,255,255,0.48);
  position: relative;
  top: 3px;
  margin: 0 0 0 10px;
  transition: fill 0.15s;
}


ul.bullet-proof {
	list-style-type: none;
}
p input {
	background: none transparent;
	border: 0;
  font-family: Karla,sans-serif;
  font-size: 22px;
  color: #fff;
  width: 250px;
  outline: 0;
}

/* Projects previews */

.project-preview {
  background-color: #fff;
  border-radius: 16px;
  height: 350px;
  margin: 60px 0;
  position: relative;
}

.project-preview h4 {
  background-color: #8F3181;
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  padding: 6px 16px;
  position: absolute;
  top:40px;
  left: -16px;
  transition: all 0.15s;
}
.project-preview a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project-preview a,
.project-preview a:hover {
   border: 0;
}


.exit {
  font-style: italic;
  text-align: center;
  font-size: 16px;
  margin-bottom: 80px;
  color: rgba(255,255,255,0.7);
}

/* Hover states on non-touch devices 
--------------------------------------- */

@media (hover: hover) {

  .socials a:hover svg {
    fill: rgba(255,255,255,1); 
  }

  .project-preview:hover h4 {
    left:-12px;
    background-color: #701762;
  }

  .project-preview.color-2 h4{ background-color: #2A7523;}
  .project-preview.color-3 h4{ background-color: #B02405;}
  .project-preview.color-4 h4{ background-color: #005889;}

  .project-preview.color-2:hover h4{ background-color: #105B0A;}
  .project-preview.color-3:hover h4{ background-color: #781601;}
  .project-preview.color-4:hover h4{ background-color: #003E61;}

}
