

/* Small Mobiles Devices 
–––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 600px) {

body {
	font-size: 17px;
	line-height: 1.55;
}
#page {
    padding: 30px;
}
h1 {
    font-size: 64px;
    margin: 0px 0 12px;
}
h2 {
    font-size: 24px;
    margin-bottom: 16px;
	line-height: 1.2;
}
.socials {
	margin-bottom: 30px;
}
.socials svg {
	height: 35px;
	width: 28px;
	margin: 0 16px 0 0;
}
blockquote {
    padding-left: 0;
    margin-bottom: 40px;
}
blockquote::after{
	width: 6px;
	left: -29px;
	border-radius: 0 6px 6px 0;
}
p {
	margin: 20px 0 20px;
}
.tooltip {
	width: 100%;
}
button {
	padding:12px 14px;
	width: 100%;
	margin-bottom: 16px;
}
p input {
	font-size: 17px;
}


}