/* I will make this nice later */

@media only screen and (max-width: 840px) {
  body {
    zoom:0.8;
  }
}

@media only screen and (max-width: 600px) {
  body {
    zoom:0.6;
  }
}

@media (hover: none) {
	body {
	  background-color: #000;
	}
}