

/* Small Mobiles Devices 
–––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 650px) {

body {
	font-size: 17px;
	line-height: 1.55;
}
#page {
    padding: 30px;
}
h1 {
    font-size: 58px;
    margin: 0px 0 8px;
}
h2 {
    font-size: 24px;
    margin-bottom: 8px;
	line-height: 1.2;
	display: inline-block;
	width: 100%;
}
.socials {
	margin-bottom: 24px;
}
.socials svg {
  height: 25px;
  width: 25px;
}
p {
	margin: 20px 0 20px;
}
.tooltip {
	width: 100%;
}
button {
	padding:12px 14px;
	width: 100%;
	margin-bottom: 16px;
}
p input {
	font-size: 17px;
}