
* {
	margin: 0;
	padding: 0;
}
body {
  background-color: #E2E8F5;
  -webkit-font-smoothing: antialiased;
  font-family: Martel,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 184%;
  color: #334152;
  min-width: 600px;
  padding: 0 20px;
}

#page {
  max-width: 440px;
  margin: 100px auto 0;
  padding: 46px 80px 38px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
h1 {
  font-weight: 900;
  font-size: 38px;
  line-height: 140%;
  margin: 0 0 24px;
}
.content {
  list-style: none;
  margin: 0 0 38px;
  position: relative;
  left: 27px;
}
.content::after {
  content: '';
  width: 5px;
  border-radius: 4px;
  position: absolute;
  top: 2px;
  bottom: 4px;
  left: -27px;
  background-color: #FFD171;

}
.content span {
  color: #8f8f8f;
}
a {
  color: #4183D0;
}
.socials li {
  display: inline-block;
  margin-right: 10px;
}
.socials li a {
  display: inline-block;
}
.socials svg {
  padding: 3px 0;
}

#shadow {
  display: block;
  width: 600px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#shadow::after {
  content: "";
  display: block;
  width: 400px;
  height: 180px;
  background-color: #000;
  position: absolute;
  top: -190px;
  left: 100px;
  z-index: 0;
  filter: blur(30px);
  opacity: 20%;
}

@media (hover: hover) {
  a:hover {
    color: #12539E;
  }
  :focus{
    outline: 0;
    padding: 0 4px;
    position: relative;
    left: -4px;
    margin-right: -8px;
    border-radius: 6px;
    box-shadow: 
      0 0 0 6px rgba(45,158,224,0.3),
      0 0 0 2px #00C4FB;
    transition: box-shadow 0.08s linear;
  }
}